In [1]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt

### 뉴스 헤드라인을 이용하여, 뉴스의 주제를 분류
- title(헤드라인)이 주어지고 
- 뉴스의 주제를 분류
- 심사기준 Accuracy
- 리더보드 점수 순위 (0.86, 0.84, 0.83 ...)

In [9]:
train = pd.read_csv("/opt/ml/data/news_topic/train_data.csv")
train.head(5)

   index                             title  topic_idx
0      0          인천→핀란드 항공기 결항…휴가철 여행객 분통          4
1      1    실리콘밸리 넘어서겠다…구글 15조원 들여 美전역 거점화          4
2      2    이란 외무 긴장완화 해결책은 미국이 경제전쟁 멈추는 것          4
3      3  NYT 클린턴 측근韓기업 특수관계 조명…공과 사 맞물려종합          4
4      4         시진핑 트럼프에 중미 무역협상 조속 타결 희망          4

In [10]:
topic_index = pd.read_csv("/opt/ml/data/news_topic/topic_dict.csv")
topic_index

  topic  topic_idx
0  IT과학          0
1    경제          1
2    사회          2
3  생활문화          3
4    세계          4
5   스포츠          5
6    정치          6